node-red sample/iost-part4-v12/flows (1).json
[{"id":"e136453f.c19f98","type":"tab","label":"Flow 1"},{"id":"b604f57e.0b4ca8","type":"mqtt out","z":"e136453f.c19f98","d":true,"name":"message to BInode","topic":"","qos":"","retain":"","broker":"9711e0dc.29a84","x":750,"y":400,"wires":[]},{"id":"347e2e2b.a1d822","type":"json","z":"e136453f.c19f98","name":"parse message","x":172.00001525878906,"y":710.2000061035156,"wires":[["94ad5859.1cdb98","cfaf0a83.2615c8","e8ee5ef3.960f2","1a78f7fb.3573a8","fb70585a.6930c8","1c545d3f.fcaf73","6da4d17f.6822e"]]},{"id":"45d24590.0bed8c","type":"mqtt in","z":"e136453f.c19f98","d":true,"name":"wemos mini bi","topic":"BIcomm","qos":"2","datatype":"auto","broker":"e171361a.adf288","x":120,"y":598.2000061035156,"wires":[["347e2e2b.a1d822"]]},{"id":"a28d37a6.a03c48","type":"ui_gauge","z":"e136453f.c19f98","name":"Motor speed","group":"6833259d.19497c","order":1,"width":0,"height":0,"gtype":"gage","title":"Motor speed","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":718.5000152587891,"y":568.7999435424805,"wires":[]},{"id":"1a78f7fb.3573a8","type":"function","z":"e136453f.c19f98","name":"get message number","func":"var value;\nvalue=msg[\"payload\"][\"messageNumber\"];\nmsg.payload=value;\nreturn msg;","outputs":1,"noerr":0,"x":404.49998474121094,"y":757.4000106811524,"wires":[["d37fa02d.73cfc"]]},{"id":"94ad5859.1cdb98","type":"function","z":"e136453f.c19f98","name":"get motor speed","func":"var value;\nvalue=msg[\"payload\"][\"motor1speed\"];\nmsg.payload=value;\nreturn msg;","outputs":1,"noerr":0,"x":386.4999542236328,"y":597.9999862670899,"wires":[["a28d37a6.a03c48","6e809349.15502c","b70e5021.745b4"]]},{"id":"cfaf0a83.2615c8","type":"function","z":"e136453f.c19f98","name":"get accelerometer speed","func":"var value;\nvalue=msg[\"payload\"][\"fusionedData\"];\nmsg.payload=value;\nreturn msg;","outputs":1,"noerr":0,"x":415.4999542236328,"y":648.4000106811524,"wires":[["5efe620c.993c5c","dedd9553.e82a58"]]},{"id":"5efe620c.993c5c","type":"ui_gauge","z":"e136453f.c19f98","name":"acceleration","group":"6d478a84.f52334","order":1,"width":0,"height":0,"gtype":"gage","title":"Acceleration","label":"units","format":"{{value}}","min":0,"max":"20000","colors":["#00b500","#e6e600","#ca3838"],"x":717.5000152587891,"y":661.0000473022461,"wires":[]},{"id":"e8ee5ef3.960f2","type":"function","z":"e136453f.c19f98","name":"get motor mode","func":"var value;\nvalue=msg[\"payload\"][\"motor1mode\"];\nif (value==0) msg.payload=\"off\";\nif (value==1) msg.payload=\"max speed\";\nif (value==2) msg.payload=\"sinus\";\nif (value==3) msg.payload=\"motion\";\nif (value==4) msg.payload=\"constant\";\nif (value==5) msg.payload=\"listen\";\nif (value==6) msg.payload=\"listen&motion\";\nreturn msg;","outputs":1,"noerr":0,"x":384.4999542236328,"y":701.4000106811524,"wires":[["3eac3d12.3a0972"]]},{"id":"3eac3d12.3a0972","type":"ui_text","z":"e136453f.c19f98","group":"6833259d.19497c","order":3,"width":0,"height":0,"name":"motor mode","label":"Mode","format":"{{msg.payload}}","layout":"row-center","x":718.5000152587891,"y":754.4000106811524,"wires":[]},{"id":"fb70585a.6930c8","type":"function","z":"e136453f.c19f98","name":"get LED status","func":"var value;\nvalue=msg[\"payload\"][\"LEDstatus\"];\nif (value==0) msg.payload=\"off\";\nif (value==1) msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":385.4999542236328,"y":815.1999984741211,"wires":[["19bebe64.48e582"]]},{"id":"d37fa02d.73cfc","type":"ui_text","z":"e136453f.c19f98","group":"d40239a3.1925f8","order":2,"width":0,"height":0,"name":"message number","label":"Message number","format":"{{msg.payload}}","layout":"row-center","x":736.5000152587891,"y":805.4000106811524,"wires":[]},{"id":"19bebe64.48e582","type":"ui_text","z":"e136453f.c19f98","group":"d40239a3.1925f8","order":1,"width":0,"height":0,"name":"LED status","label":"LED","format":"{{msg.payload}}","layout":"row-center","x":718.5000152587891,"y":855.4000106811524,"wires":[]},{"id":"6e809349.15502c","type":"ui_chart","z":"e136453f.c19f98","name":"Motor speed","group":"6833259d.19497c","order":2,"width":0,"height":0,"label":"Speed","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"10","removeOlderUnit":"60","outputs":2,"x":717.5000152587891,"y":609.5999618530274,"wires":[[],[]]},{"id":"dedd9553.e82a58","type":"ui_chart","z":"e136453f.c19f98","name":"acceleration chart","group":"6d478a84.f52334","order":2,"width":0,"height":0,"label":"Acceleration","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"5","removeOlderUnit":"60","outputs":2,"x":735.5000152587891,"y":704.5999618530274,"wires":[[],[]]},{"id":"61a587a4.900db8","type":"ui_switch","z":"e136453f.c19f98","name":"LED switch","label":"LED on / off","group":"69fee5a2.0c153c","order":1,"width":0,"height":0,"passthru":false,"topic":"BIcomm","style":"","onvalue":" {messageType : \"execute\",  actuator : \"LED\",  actuatorValue : 1 }","onvalueType":"str","onicon":"","oncolor":"","offvalue":" {messageType : \"execute\",  actuator : \"LED\",  actuatorValue : 0 }","offvalueType":"str","officon":"","offcolor":"","x":598.5000152587891,"y":207.40003204345703,"wires":[["96e731bb.bd4b9"]]},{"id":"cec432e3.aa3b3","type":"ui_button","z":"e136453f.c19f98","name":"set motor off button","group":"69fee5a2.0c153c","order":2,"width":0,"height":0,"label":"motor off","color":"","bgcolor":"","icon":"","payload":"{  messageType : \"execute\",  actuator : \"motor1\",  actuatorMode: \"off\"  }","payloadType":"str","topic":"BIcomm","x":191.4999542236328,"y":179.99996185302734,"wires":[["b604f57e.0b4ca8","96e731bb.bd4b9"]]},{"id":"92c0b27b.afe0c","type":"ui_button","z":"e136453f.c19f98","name":"set motor to sinus mode","group":"69fee5a2.0c153c","order":4,"width":0,"height":0,"label":"sinus mode","color":"","bgcolor":"","icon":"","payload":"{  messageType : \"execute\",  actuator : \"motor1\",  actuatorMode : \"sinus\"  }","payloadType":"str","topic":"BIcomm","x":212.49998474121094,"y":334.00000915527346,"wires":[["b604f57e.0b4ca8","96e731bb.bd4b9"]]},{"id":"78beb849.fb6f28","type":"ui_button","z":"e136453f.c19f98","name":"set motor modus to motion controlled","group":"69fee5a2.0c153c","order":5,"width":0,"height":0,"label":"motion controlled","color":"","bgcolor":"","icon":"","payload":"{  messageType : \"execute\",  actuator : \"motor1\",  actuatorMode : \"motion\"  }","payloadType":"str","topic":"BIcomm","x":254.50006103515625,"y":384.0000396728516,"wires":[["b604f57e.0b4ca8","96e731bb.bd4b9"]]},{"id":"a43e6a9c.dbeca8","type":"ui_button","z":"e136453f.c19f98","name":"set motor mode to max speed","group":"69fee5a2.0c153c","order":3,"width":0,"height":0,"label":"maximum speed","color":"","bgcolor":"","icon":"","payload":"{  messageType : \"execute\",  actuator : \"motor1\",  actuatorMode : \"max\" }","payloadType":"str","topic":"BIcomm","x":234.49998474121094,"y":434.0000701904297,"wires":[["b604f57e.0b4ca8","96e731bb.bd4b9"]]},{"id":"3a5ddbf.471c224","type":"function","z":"e136453f.c19f98","name":"construct command in JSON","func":"msg.payload={messageType:\"execute\", actuator:\"motor1\",actuatorMode:\"constant\",actuatorValue:msg.payload}\nmsg.topic = \"BIinTopic\";\nreturn msg;","outputs":1,"noerr":0,"x":462.49998474121094,"y":485.20000610351565,"wires":[["b604f57e.0b4ca8","96e731bb.bd4b9"]]},{"id":"b70e5021.745b4","type":"ui_slider","z":"e136453f.c19f98","name":"Set motor speed","label":"Speed","group":"69fee5a2.0c153c","order":8,"width":0,"height":0,"passthru":false,"topic":"BIcomm","min":"10","max":"100","step":"10","x":183.69996643066406,"y":486.20000610351565,"wires":[["3a5ddbf.471c224"]]},{"id":"4a2ef1fd.c01d4","type":"ui_button","z":"e136453f.c19f98","name":"set motor to listen and motion mode","group":"69fee5a2.0c153c","order":7,"width":0,"height":0,"label":"listen and motion mode","color":"","bgcolor":"","icon":"","payload":"{  messageType : \"execute\",  actuator : \"motor1\",  actuatorMode: \"listenmotion\"  }","payloadType":"str","topic":"BIcomm","x":241.16665649414062,"y":282.2666702270508,"wires":[["b604f57e.0b4ca8","96e731bb.bd4b9"]]},{"id":"ff688404.914e28","type":"ui_button","z":"e136453f.c19f98","name":"set motor to listen mode","group":"69fee5a2.0c153c","order":6,"width":0,"height":0,"label":"listen mode","color":"","bgcolor":"","icon":"","payload":"{  messageType : \"execute\",  actuator : \"motor1\",  actuatorMode: \"listen\"  }","payloadType":"str","topic":"BIcomm","x":209.16665649414062,"y":232.26667022705078,"wires":[["b604f57e.0b4ca8","96e731bb.bd4b9"]]},{"id":"4d429bf0.bc2684","type":"ui_text","z":"e136453f.c19f98","group":"69fee5a2.0c153c","order":0,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":701.1667785644531,"y":911.3333435058594,"wires":[]},{"id":"ce9a06f9.91e608","type":"ui_text","z":"e136453f.c19f98","group":"69fee5a2.0c153c","order":0,"width":0,"height":0,"name":"","label":"Mac","format":"{{msg.payload}}","layout":"row-spread","x":705.1667175292969,"y":961.0000178019206,"wires":[]},{"id":"1c545d3f.fcaf73","type":"function","z":"e136453f.c19f98","name":"get Name of ESP device","func":"var value;\nvalue=msg[\"payload\"][\"deviceName\"];\nmsg.payload=value;\nreturn msg;","outputs":1,"noerr":0,"x":417.16668701171875,"y":875.9333531697591,"wires":[["4d429bf0.bc2684"]]},{"id":"6da4d17f.6822e","type":"function","z":"e136453f.c19f98","name":"get ESP's chip ID","func":"var value;\nvalue=msg[\"payload\"][\"chipId\"];\nmsg.payload=value;\nreturn msg;","outputs":1,"noerr":0,"x":397.16668701171875,"y":944.9333836873373,"wires":[["ce9a06f9.91e608"]]},{"id":"c99c63e5.17188","type":"influxdb in","z":"e136453f.c19f98","influxdb":"e9363d1c.a3a5c","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":110,"y":560,"wires":[["347e2e2b.a1d822"]]},{"id":"96e731bb.bd4b9","type":"influxdb out","z":"e136453f.c19f98","influxdb":"e9363d1c.a3a5c","name":"","measurement":"","precision":"","retentionPolicy":"","x":798,"y":321,"wires":[]},{"id":"9711e0dc.29a84","type":"mqtt-broker","z":"","name":"","broker":"http://gsh123.herokuapp.com","port":"15376","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e171361a.adf288","type":"mqtt-broker","z":"","name":"","broker":"http://gsh123.herokuapp.com/datastorage.txt","port":"1883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6833259d.19497c","type":"ui_group","z":"","name":"Motor","tab":"650479b2.8cf228","order":null,"disp":true,"width":"6"},{"id":"6d478a84.f52334","type":"ui_group","z":"","name":"Data","tab":"650479b2.8cf228","order":2,"disp":true,"width":"6"},{"id":"d40239a3.1925f8","type":"ui_group","z":"","name":"Status","tab":"650479b2.8cf228","order":3,"disp":true,"width":"6"},{"id":"69fee5a2.0c153c","type":"ui_group","z":"","name":"Controls","tab":"650479b2.8cf228","order":4,"disp":true,"width":"6"},{"id":"e9363d1c.a3a5c","type":"influxdb","z":"","hostname":"127.0.0.1/u1","port":"8086","protocol":"http","database":"","name":"","usetls":false,"tls":""},{"id":"650479b2.8cf228","type":"ui_tab","z":"","name":"Body Interaction 2 demonstrator","icon":"dashboard","order":0}]